body {
  main {
    max-width: 100%;
    h1 {
      text-align: center;
    }
    svg {
      display: block;
      margin: 0 auto;
      img {
          display: inline;
          float: none;
          margin: 0 auto;
      }
    }
  }
}
